/* ↓ここから共通↓ */

body {
  margin: 0px;
  padding:0px;
  font-family: "ヒラギノ明朝";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
 
}

.top-wrapper {
  height:420px;
  padding: 130px 0 200px 0;
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/04.jpg); */
  background-image: url('./04.JPG');
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 180px;
  
}

header {
  background-color:#800000;
  height:50px;
  padding-top:0px;
  margin:0px;
  color:white;

}

/* リンクの文字白に */
header a {
  color:white;
}


/* ヘッダー上の空白削除 */
ul {
  margin:0px;
}

li {
  list-style:none;
  float:left;
  font-size:30px; 
  padding:0px 20px;
  padding-top:2px;
}


/* ↑ここまで共通↑ */


/* ↓タイトル、文章、写真2つ横並び(divの箱2つ横並び)↓ */

.second-wrapper {
  height:1620px;
}

/* 文字を中央に配置 */
.second-wrapper h1 {
  text-align:center;
}

.second-wrapper p {
  text-align:left;
}



.image-left {
  float:left;
  width:720px;
  height:405px;
  background-color:red;
}

.image-right {
  float:left;
  width:720px;
  height:405px;
  background-color:blue;
}

/* ↑タイトル、文章、写真↑ */

.house-1 .image-left {
  background-color:white;
}

.house-3 .image-left {
  background-color:white;
}

.house-2 .image-right {
  background-color:white;
}

.house-4 .image-right {
  background-color:white;
}

.image-left {
  position:relative;
}

.image-right {
  position:relative;
  z-index:-10;
}

.image-left img {
  width:500px;
  height:500px;
  position:absolute;
  top:50px;
  right:350px;
}

.image-right img {
  width:500px;
  height:500px;
  position:absolute;
  top:50px;
  right:350px;
  z-index:-5;
}

/* ↓以下写真↓ */

.house-1 .image-right {
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/05.jpg); */
  background-image: url('./05.JPG');
  background-size: cover;
}

.house-3 .image-right {
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/07.jpg); */
  background-image: url('./07.JPG');
  background-size: cover;
}

.house-2 .image-left {
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/06.jpg); */
  background-image: url('./06.JPG');
  background-size: cover;
}

.house-4 .image-left {
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/08.jpg); */
  background-image: url('./08.jpg');
  background-size: cover;
}

/* ↑以下写真↑ */

.houses h1 {
 font-size:60px;
}

.house-3 h1 {
  font-size:50px;
}

.house-4 h1 {
  font-size:42px;
}

.houses p {
font-size:25px;
padding:20px 75px;
margin: 0px 0px 0px 120px;

}





/* ↓フッター↓ */

footer {
  background-color:#ffa500;
  height:370px;
  padding-top:0px;
  margin:0px;
  color:white;
}

footer img {
  display:inline-block;
  float:left;
  margin:20px 20px;
}

/* 潜り込みを解消 */
.info {
  clear:both;
}

.info p {
  margin:5px 15px;
}

.info .name {
  font-size:45px;
  margin:0px 20px;
}

.info a {
  color:white;
}

/* ↑フッター↑ */










