@media (max-width: 1200px) {

* {
  box-sizing:border-box;
}

.box1 {
  background-color:red;
  width:100%;
  height:500px;
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/04.jpg); */
  background-image: url('./04.JPG');
  background-size:cover;
  color:white;
  text-align:center;
}

.box1 h1 {
  padding-top:200px;
  font-size:55px;
}

header {
  background-color:#800000;
  width:100%;
  height:60px;
}

ul {
  width:2000px;
}

li {
  float:left;
  list-style:none;
  padding:20px 45px;
  font-size:15px;
  color:white;
}

.box2 h2 {
  font-size:40px;
  padding-top:15px;
}

.box2 p {
  font-size:18px;  
  padding-top:5px;
  padding-bottom:80px;
  padding-left:70px;
  line-height:30px;
}

.box2 {
  /* background-color:pink; */
  width:100%;
  height:1100px;
  text-align:center;
}

.box2-one {
  /* background-color:green; */
  width:100%;
  height:270px;
}

.one-left {
  float:left;
  width:50%;
  height:250px;
  /* background-color:blue; */
}

.one-right {
  float:left;
  width:50%;
  height:250px;
  /* background-color:black; */
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/05.jpg); */
  background-image: url('./05.JPG');  
  background-size:cover;
}

.box2-two {
  /* background-color:green; */
  width:100%;
  height:270px;
}

.two-left {
  float:left;
  width:50%;
  height:250px;
  /* background-color:black; */
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/06.jpg); */
  background-image: url('./06.JPG');  
  background-size:cover;
}

.two-right {
  float:left;
  width:50%;
  height:250px;
  /* background-color:blue; */
}

.box2-three {
  /* background-color:green; */
  width:100%;
  height:270px;
}

.three-left {
  float:left;
  width:50%;
  height:250px;
  /* background-color:blue; */
}

.three-right {
  float:left;
  width:50%;
  height:250px;
  /* background-color:black; */
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/07.jpg); */
  background-image: url('./07.JPG');  
  background-size:cover;
}

.box2-four {
  /* background-color:green; */
  width:100%;
  height:270px;
}

.four-left {
  float:left;
  width:50%;
  height:250px;
  /* background-color:black; */
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/08.jpg); */
  background-image: url('./08.JPG');  
  background-size:cover;
}

.four-right {
  float:left;
  width:50%;
  height:250px;
  /* background-color:blue; */
}


.text {
  position:relative;
}

.one-left img {
  position:absolute;
  width:200px;
  height:200px;
  top:60px;
  left:10px;
}

.two-right img {
  position:absolute;
  width:200px;
  height:200px;
  top:60px;
  left:10px;
}

.three-left img {
  position:absolute;
  width:200px;
  height:200px;
  top:60px;
  left:10px;
}

.four-right img {
  position:absolute;
  width:200px;
  height:200px;
  top:60px;
  left:10px;
}

footer {
  background-color:#ffa500;
  width:100%;
  height:320px;
}

footer img {
  float:left;
  margin:20px 8px;
  width:48px;
  height:50px;
}

.info p {
  margin:2px 15px;
  font-size:15px;
}

.info .name {
  font-size:25px;
  margin:0px 20px;
}


















}
